<!DOCTYPE html>

<html>
    <head>

    </head>
    <title>Hello about</title>
    <body>
        <div class="main-content">
                {{>header}}
                <img class ="portrait" src="image.jpeg">
        </div>
                {{>footer}}

    </body>
</html>