<!DOCTYPE html>

<html>
    <head>

    </head>
    <title>Hello about</title>
    <body>
        <div class="main-content">
                {{>header}}
                <p>This page is created by Suresh using mapbox and forcast</p>
                <img class ="portrait" src="image.jpeg">
        </div>
                {{>footer}}

    </body>
</html>