<!DOCTYPE html>

<html>
    <head>
        <title> 404</title>
    </head>
    <title>Hello title</title>
    <body>
         <div class="main-content">
                {{>header}}
                {{error}}
         </div>
        {{>footer}}
        

    </body>
</html>