<!DOCTYPE html>

<html>
    <head>

    </head>
    <title>Hello title</title>
    <body>
        <div class="main-content">
             {{>header}}
        </div>
        {{>footer}}
        

    </body>
</html>